@import "./style.css";

.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.about_title {
  text-align: center;
}

.about_sub {
  width: 85% !important;
}

.about_socials {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  .about_sub {
    padding-top: 20px !important;
  }
  .about_socials {
    padding-top: 30px;
    display: flex;
  }
}

@media (max-width: 800px) {
  .content_wrapper {
    width: 100%;
    max-width: 100%;
    /* margin: 10%;
    padding: 10%; */
    margin: 0 auto;
    padding: 0 20px;
  }

  .about_title {
    width: 100% !important;
    margin-top: 20px;
    order: 2;
  }

  .about_sub {
    width: 100% !important;
    margin-top: 10px;
    order: 3;
  }
}

@media (min-width: 150px) and (max-width: 790px) {
  .about_title {
    width: 100% !important;
    margin-top: 20px;
    order: 2;
    font-size: 30px;
  }

  .about_sub {
    width: 100% !important;
    margin-top: 10px;
    order: 3;
  }
}
